<div class="vh-100 layout-wrapper">
    <div class="bg-primary h-100">
        <nav class="header-spacer">
            <div class="container px-4">
                <div class="row">
                    <div class="offset-sm-1 col-sm-11">
                        <h2 id="aboutMeScroll">About me</h2>
                    </div>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div class="container px-4 h-sm-100">
                <div class="row gx-3 h-100">
                    <div class="offset-sm-1 col-sm-5 d-flex align-items-center text-elements-wrapper about-me-text">
                        <div>
                            <p>
                                I am a passionate Web Developer/Designer with 6+ years of experience in crafting rich user experiences. I specialize in transforming static prototypes into responsive-accessible web templates. In essence, I design and build websites.
                            </p>
                            <p>
                                When I am not coding, you can find me baking or shooting for my next short video.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>