<div class="layout-wrapper">
    <div class="bg-primary">
        <app-nav-bar></app-nav-bar>
        <section class="portfolio-landing-section"> 
            <div class="container px-4 h-100">
                <div class="row gx-3 h-100 position-relative">
                    <div class="text-elements-portfolio-wrapper">
                        <div class="inner-wrapper">
                            <h1 class="main-text">
                              "The only way to do great work is to love what you do"
                            </h1>
                             <p class="sub-main-text">
                                 - Steve Jobs
                             </p>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-6 d-flex align-items-center justify-content-md-start justify-content-end position-relative">
                        <div class="flex-shrink-0 d-flex align-items-center">
                          <div class="fixed-scroll-bg landing-section rounded-0 position-relative flex-shrink-0">
                          </div>
                          <div class="pattern flex-shrink-0 m-0"></div>
                      </div>
                  </div>
                  
                </div>
              </div>
        </section>  
        <section>
            <fieldset class="d-flex align-items-center justify-content-center flex-wrap position-relative tabs-wrapper">
                <div class="form-check portfolio-tabs ps-0">
                    <input class="form-check-input invisible w-0 h-0 m-0" (click)="showHideTabs(0)" id="all" [value]="0" [(ngModel)]="sh" name="sh" type="radio" [checked]="isChecked" >
                    <label class="form-check-label" for="all">
                        <p class="h3 mb-0">All</p>
                    </label>
                </div>
                <div class="form-check portfolio-tabs ps-0">
                    <input class="form-check-input invisible w-0 h-0 m-0" (click)="showHideTabs(1)" id="uiDevelopment" [value]="1" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked">
                    <label class="form-check-label" for="uiDevelopment">
                        <p class="h3 mb-0">UI Development</p>
                    </label>
                </div>
                <div class="form-check portfolio-tabs ps-0">
                    <input class="form-check-input invisible w-0 h-0 m-0" (click)="showHideTabs(2)" id="uiDesign" [value]="2" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked">
                    <label class="form-check-label" for="uiDesign">
                        <p class="h3 mb-0">UI Design</p>
                    </label>
                </div>
                <div class="form-check portfolio-tabs ps-0">
                    <input class="form-check-input invisible w-0 h-0 m-0" (click)="showHideTabs(3)" id="graphicDesign" [value]="3" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" >
                    <label class="form-check-label" for="graphicDesign">
                        <p class="h3 mb-0">Graphic Design</p>
                    </label>
                </div>
                <div class="form-check portfolio-tabs ps-0">
                    <input class="form-check-input invisible w-0 h-0 m-0" (click)="showHideTabs(4)" id="videos" [value]="4" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" >
                    <label class="form-check-label" for="videos">
                        <p class="h3 mb-0">Videos</p>
                    </label>
                </div>
            </fieldset>
              <div class="portfolio-items-outer-wrapper">
                <div class="portfolio-items" *ngFor='let portfolioItem of filteredPortfolioItems;'>
                    <ng-container *ngIf="!portfolioItem.showHide">
                        <button class="btn btn-portfolio-item" [class]="portfolioItem.id" data-bs-toggle="modal" [attr.data-bs-target]="'#' + portfolioItem.id">
                            <img [src]="portfolioItem.imageSrc" [alt]="portfolioItem.name">
                            <div class="on-hover-text">
                                <div class="h3 border-0 m-0 h-100 w-100 d-flex align-items-center justify-content-center">{{portfolioItem.name}}</div>
                            </div>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="portfolioItem.showHide">
                        <a class="btn btn-portfolio-item" [class]="portfolioItem.id" [href]="portfolioItem.url" target="_blank">
                            <img [src]="portfolioItem.imageSrc" [alt]="portfolioItem.name">
                            <div class="on-hover-text">
                                <div class="h3 border-0 m-0 h-100 w-100 d-flex align-items-center justify-content-center">{{portfolioItem.name}}</div>
                            </div>
                        </a>
                    </ng-container>
                </div>
              </div>
        </section>
    </div>
</div>

<ng-container *ngFor='let portfolioItem of portfolioItems'>
    <ng-container *ngIf="!portfolioItem.showHide">
        <div class="modal fade portfolio-modal" [id]="portfolioItem.id" [class]="portfolioItem.id" tabindex="-1" [attr.aria-labelledby]="portfolioItem.id + '-label'" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <h5 class="modal-title visually-hidden" id="portfolioDrawerLabel">{{portfolioItem.name}}</h5>
                <div class="modal-body bg-primary p-0">
                    <div class="container-lg px-4 portfolio-modal-items">
                        <div class="row gx-3">
                            <div class="col-12 col-md-11 modal-top-wrapper d-flex align-items-center">
                                <button class="btn btn-back" data-bs-dismiss="modal" aria-label="Close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                      </svg>
                                </button>
                                <h3 class="mb-0 mt-1 align-self-start">{{portfolioItem.name}}</h3>
                                <!-- <div class="ms-auto">
                                    <button class="btn btn-close-elevator" data-bs-dismiss="modal" aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                        </svg>
                                    </button>
                                </div> -->
                            </div>
                            <div class="col-lg-6 d-lg-none">
                                <img [src]="portfolioItem.imageSrc" class="d-block my-3 mx-auto image-portfolio"  [alt]="portfolioItem.name">
                            </div>
                            <div class="col-lg-6 order-1">
                                <div class="me-lg-5" [innerHTML]="portfolioItem.content">
                                </div>
                                <ng-container *ngIf="portfolioItem.explosiveDesign">
                                    <h4 class="mt-5">Tools Used</h4>
                                    <ul class="list-unstyled d-flex flex-wrap">
                                        <ng-container *ngFor='let tool of portfolioItem.toolsUsed'>
                                            <li class="tool-item" [class]="tool.toolClass">
                                                <div class="icon"></div>
                                                <div class="tool-name"> 
                                                    {{tool.toolName}}
                                                </div>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <h4>Client</h4>
                                    <div class="mb-5">{{portfolioItem.client}}</div>
                                </ng-container>
                            </div>
                            <div class="col-lg-6 order-2">
                                <div class="left-content-wrapper">
                                    <img [src]="portfolioItem.imageSrc" class="d-none d-lg-block mb-5 mx-auto image-portfolio"  [alt]="portfolioItem.name">
                                    <ng-container *ngIf="!portfolioItem.explosiveDesign">
                                        <h4>Tools Used</h4>
                                        <ul class="list-unstyled d-flex flex-wrap">
                                            <ng-container *ngFor='let tool of portfolioItem.toolsUsed'>
                                                <li class="tool-item" [class]="tool.toolClass">
                                                    <div class="icon"></div>
                                                    <div class="tool-name"> 
                                                        {{tool.toolName}}
                                                    </div>
                                                </li>
                                            </ng-container>
                                        </ul>
                                        <h4>Client</h4>
                                        <div class="mb-5">{{portfolioItem.client}}</div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </ng-container>
</ng-container>
