<div class="vh-100 layout-wrapper">
    <div class="bg-primary h-100">
        <nav class="header-spacer">
            <div class="container px-4">
                <div class="row">
                    <div class="offset-sm-1 col-sm-11">
                        <h2 id="experienceScroll">Experience</h2>
                    </div>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div class="container px-4 h-sm-100">
                <div class="row gx-3 h-100">
                    <div class="offset-sm-1 col-sm-4 d-flex align-items-center text-elements-wrapper about-me-text">
                        <ul class="experience-list">
                            <li>
                                <div class="dot"></div>
                                <div>
                                    <h3>ServiceLink, Pittsburgh</h3>
                                    <p>Front End Engineer | Aug 2019 - Present </p>
                                </div>
                            </li>   
                            <li>
                                <div class="dot"></div>
                                <div>
                                    <h3>Technumen Inc</h3>
                                    <p>UI Developer | Dec 2015 - Aug 2019 </p>
                                </div>
                            </li>   
                            <li>
                                <div class="dot"></div>
                                <div>
                                    <h3>Freelancer</h3>
                                    <p>Graphic Designing | Sept 2012 - Present</p>
                                </div>
                            </li>   
                        </ul>
                    </div>
                    <div class="col-sm-7">
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>