html { 
    scroll-snap-type: y mandatory;
}

.layout-wrapper{
    padding: pxToRem(18);
    scroll-snap-align: start;
}
.main-content{
    height: calc(100% - 11.25rem);
    display: block;
    position: relative;
    .pattern{
        background-image: url("../assets/pattern.svg");
        background-repeat: no-repeat;
        background-size: 32%;
        background-position: 39% 35%;
        position: absolute;
        top: 0px;
        left:0px;
        right:0px;
        bottom: 0px;

    }
}

.fixed-scroll-bg{
    width: pxToRem(261);
    height: pxToRem(261);
    margin-right: pxToRem(-130);
    top: 25%;
    right: 50%;


    border-radius: 50%;
    position: fixed;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out;
}
.image-producer{
    width: pxToRem(203);
    height: pxToRem(279);


    position: absolute;
    background-image: url("../assets/avatar.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.5s linear;
}
.pattern{
    width: 28.4vw;
    height: 17.13vw;
    top: 25%;
    left: -23vw;

    
    position: absolute;
    background-image: url("../assets/pattern.svg");
    background-repeat: no-repeat;
}
@include media-breakpoint-up(sm){
    .fixed-scroll-bg{
        width: 31vw;;
        height: 31vw;;
        margin-top: -15.5vw;
        top: 50%;
        right: 18%;
    }
    .image-producer{
        width: 22.65vw;
        height: 31.14vw;
    }
}
@include media-breakpoint-up(md){
    .fixed-scroll-bg{
        width: 31vw;;
        height: 31vw;;
        margin-top: -15.5vw;
        top: 50%;
        right: 18%;
    }
    .image-producer{
        width: 22.65vw;
        height: 31.14vw;
    }
}
@include media-breakpoint-up(xl){
    .layout-wrapper{
        padding: pxToRem(36);
    }
    .fixed-scroll-bg{
        width: 31vw;;
        height: 31vw;;
        margin-top: -15.5vw;
        top: 50%;
        right: 18%;
    }
    .image-producer{
        width: 22.65vw;
        height: 31.14vw;
    }
    .pattern{
        width: 28.4vw;
        height: 17.13vw;
        top: 25%;
        left: -23vw;
    
        
        position: absolute;
        background-image: url("../assets/pattern.svg");
        background-repeat: no-repeat;
    }
}
@include media-breakpoint-up(xxl){
    .layout-wrapper{
        padding: pxToRem(50);
    }
}