html {
    scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  
}

.layout-wrapper {
  padding: pxToRem(18);
  scroll-snap-align: start;
  position: relative;
}
.main-content {
  display: block;
  position: absolute;
  top: pxToRem(18);
  left: pxToRem(18);
  right: pxToRem(18);
  bottom: pxToRem(18);
}
.fixed-scroll-bg {
  width: pxToRem(200);
  height: pxToRem(200);
  border-radius: var(--fixed-bg-border-radius);
  position: fixed;
  background-color: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: pxToRem(120);
  left: 50%;
  margin-left: pxToRem(-100);;
}
:root {
  --landing-opacity: 100%;
  --about-me-opacity: 0%;
  --experience-opacity: 0%;
  --skills-opacity: 0%;
  --portfolio-opacity: 0%;
  --get-in-touch-opacity: 0%;
  --pattern-left-position: -410px;
  --pattern-opacity: 100%;
  --fixed-bg-border-radius: 50%;
}
.image-producer {
  width: 80%;
  height: 106%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  &.avatar{
    opacity: var(--landing-opacity);
    background-image: url("../assets/avatar.svg");
  }
  &.real-avatar{
    opacity: var(--about-me-opacity);
    background-image: url("../assets/profile-pic.png");
    width: 100%;
    height: 100%;
  }
  &.pittsburgh{
    opacity: var(--experience-opacity);
    background-image: url("../assets/pittsburgh.jpg");
    width: 115%;
    height: 50%;
    background-position: bottom 0px right 50px;
  }
  &.skills{
    opacity: var(--skills-opacity);
  }
  &.design-system{
    opacity: var(--portfolio-opacity);
    background-image: url("../assets/design-system@2x.png");
    width: 100%;
    height: 100%;
    background-position: center;
    right: 35px;
    @include media-breakpoint-up(sm) {
      right: 85px;
    }
  }
  &.get-in-touch{
    opacity: var(--get-in-touch-opacity);
  }
}
.pattern {
  width: pxToRem(262);
  height: pxToRem(162);
  top: 274px;
  left: 50%;
  margin-left: pxToRem(-131);
  position: fixed;
  background-image: url("../assets/pattern.svg");
  background-repeat: no-repeat;
  z-index: 1;
  opacity: var(--pattern-opacity);
}

.text-elements-wrapper {
  position: relative;
  z-index: 2;
  &.about-me-text {
    @include media-breakpoint-down(sm) {
      padding-top: pxToRem(330);
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: pxToRem(330);
    padding-left: pxToRem(36);
    padding-right: pxToRem(36);
  }
}
@include media-breakpoint-down(sm){
  .text-wrapper{
    padding-top: pxToRem(150);
  }
}
@include media-breakpoint-up(sm) {
  .fixed-scroll-bg {
    width: pxToRem(312);
    height: pxToRem(312);
    top: auto !important;
    left: auto !important;
    margin-left: 0px;
  }
  .pattern {
    width: 352px;
    height: 219px;
    top:auto;
    left: auto;
    margin-left: -270px;
  }
  .h-sm-100 {
    height: 100%;
  }
}
@include media-breakpoint-up(xl) {
  .layout-wrapper {
    padding: pxToRem(36);
  }
  .main-content {
    top: pxToRem(36);
    left: pxToRem(36);
    right: pxToRem(36);
    bottom: pxToRem(36);
  }
  .fixed-scroll-bg {
    width: pxToRem(400);
    height: pxToRem(400);
    margin-left: 2%;
  }
  .pattern {
    margin-left: -290px;
  }
}
@include media-breakpoint-up(xxl) {
  .layout-wrapper {
    padding: pxToRem(45);
  }
  .main-content {
    top: pxToRem(45);
    left: pxToRem(45);
    right: pxToRem(45);
    bottom: pxToRem(45);
  }
}
@include media-breakpoint-up(xxxl) {
  .fixed-scroll-bg {
    width: pxToRem(559);
    height: pxToRem(559);
    // margin-top: pxToRem(-279);
    // top: 50%;
  }
  .pattern {
    width: pxToRem(547);
    height: pxToRem(329);
    // top: 25%;
    // left: pxToRem(-450);
  }
}

@include media-breakpoint-up(lg){
  .btn:not(.btn-brand){
    padding: pxToRem(8) pxToRem(18);
  }
}