html { 
    scroll-snap-type: y mandatory;
}

.layout-wrapper{
    padding: pxToRem(50);
    scroll-snap-align: start;
    // background-color: $primary;
}
.main-content{
    height: calc(100% - 11.25rem);
    display: block;
    position: relative;
    .pattern{
        background-image: url("../assets/pattern.svg");
        background-repeat: no-repeat;
        background-size: 32%;
        background-position: 39% 35%;
        position: absolute;
        top: 0px;
        left:0px;
        right:0px;
        bottom: 0px;

    }
}

.fixed-scroll-bg{
    width: 49vh;
    height: 49vh;
    margin-top: -25vh;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    right: 18%;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out;
}
.image-wrapper{
    height: 105%;
}
.image-producer{
    width: pxToRem(435);
    height: pxToRem(598);
    margin-top: pxToRem(-288);
    position: absolute;
    top: 48%;
    background-image: url("../assets/pattern.svg");
    background-image: url("../assets/avatar.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.5s linear;
}