body{
    font-family: 'Source Code Pro', monospace;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
}
h1{
    font-size: 7vh;
}

.font-code-36{
    font-size: pxToRem(36);
}

.font-code-27{
    font-size: pxToRem(27);
}