$base-size: 16;

$primary: #eaf9fa;
$secondary: #c1eef9;
$dark: #272243;
$warning: #ffdd4e;
$grey: #E4E4E4;

$primary-light: #DFF7FD;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  //   "success": $success,
  //   "danger": $danger,
  "warning": $warning,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1368px,
  xxxl: 1536px
);

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1368px
// );

// $spacers: (
//   0: 0,
//   1: (
//     $spacer-6,
//   ),
//   2: (
//     $spacer-9,
//   ),
//   3: (
//     $spacer-12,
//   ),
//   4: (
//     $spacer-15,
//   ),
//   5: (
//     $spacer-18,
//   ),
//   6: (
//     $spacer-24,
//   ),
//   7: (
//     $spacer-30,
//   ),
//   8: (
//     $spacer-36,
//   ),
// );

