
@import "functions";
@import "variables";

// importing bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: map-remove($theme-colors, "info", "light");

@import "~bootstrap/scss/bootstrap.scss";


@import "typography";
@import "layout";