<div class="vh-100 layout-wrapper">
    <div class="bg-primary h-100">
        <nav class="header-spacer">
            <div class="container px-4">
                <div class="row">
                    <div class="offset-sm-1 col-sm-11">
                        <h2 id="portfolioScroll">Portfolio</h2>
                    </div>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div class="container px-4 h-sm-100">
                <div class="row gx-3 h-100">
                    <div class="offset-sm-1 col-sm-4 d-flex align-items-center text-elements-wrapper about-me-text">
                        <div>
                            <p>
                                I have worked on a wide variety of products. These include B2B/B2C facing applications, hybrid apps, responsive-accessible apps and CMS driven apps.
                            </p>
                            <a class="btn btn-outline-dark rounded-pill" (click)="showMore()">Show more works</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade portfolio-modal" id="portfolioDrawer" tabindex="-1" aria-labelledby="portfolioDrawerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <h5 class="modal-title visually-hidden" id="portfolioDrawerLabel">Modal title</h5>
            <div class="modal-body p-0">
                <div class="vh-100 layout-wrapper">
                    <div class="bg-primary h-100">
                        <div class="header-spacer">
                            <div class="container px-4">
                                <div class="row align-items-center">
                                    <div class="col-6 col-sm-5 offset-sm-1">
                                        <a class="btn btn-brand" href="#">
                                            <div class="text-warning">
                                                <span><</span>
                                                <span>bg</span>
                                                <span>/></span>
                                            </div>
                                            <div class="overlay-text">
                                                <span><</span>
                                                <span>bg</span>
                                                <span>/></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-5 text-end">
                                        <button class="btn" data-bs-dismiss="modal" aria-label="Close">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-center d-flex justify-content-center main-content">
                            <div class="flex-grow-1 row">
                                <div class="col-8 offset-2 col-lg-4 offset-lg-4">
                                    <p class="mb-5 pb-4 text-center">You would need password to proceed into this section.</p>
                                    <form class="needs-validation" novalidate>
                                        <div class="form-group mb-5">
                                            <div class="form-password-wrapper position-relative">
                                                <input type="password" aria-label="Password" (focus)="onFocus()" [ngClass]="{ 'is-invalid': isPasswordInValid}" [(ngModel)]="passwordCheck" id="password" name="portfolioPassword" class="form-control" required>
                                                <label class="form-label" for="password" aria-hidden="true">Password</label>
                                            </div>
                                            <div class="validation-message" *ngIf="isPasswordInValid">
                                                Incorrect password
                                              </div>
                                          </div>
                                          <div class="d-flex align-items-center">
                                              <a href="mailto:bhushan.gandla@outlook.com" class="btn btn-outline-dark border-0 p-0 bg-transparent text-dark">Request Access</a>
                                              <button class="btn btn-outline-dark rounded-pill ms-auto" type="button" (click)="onSubmit()">Submit</button>
                                          </div>
                                        <!-- <a class="btn btn-outline-dark rounded-pill" [routerLink]="'portfolio-landing-page'" target="_blank">navigate</a> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>