<!-- <nav>

</nav> -->
<div>
  <app-landing-page></app-landing-page>
</div>
<div>
  <app-about-me> </app-about-me>
</div>
<div>
  <app-experience> </app-experience>
</div>
<div>
  <app-skills> </app-skills>
</div>
<div>
  <app-portfolio> </app-portfolio>
</div>
<div>
  <app-get-in-touch> </app-get-in-touch>
</div>
<!-- <div class="vh-100 layout-wrapper" id="section-3">
  <div class="bg-primary h-100">third section</div>
</div>

<div class="vh-100 layout-wrapper" id="section-4">
  <div class="bg-primary h-100">4th section</div>
</div>

<div class="vh-100 layout-wrapper" id="section-5">
  <div class="bg-primary h-100">5th sections</div>
</div> -->
