<div class="vh-100 layout-wrapper">
    <div class="bg-primary h-100">
        <nav class="header-spacer">
            <div class="container px-4">
                <div class="row">
                    <div class="offset-sm-1 col-sm-11">
                        <h2 id="getInTouchScroll">Get in touch</h2>
                    </div>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div class="container px-4 h-sm-100">
                <div class="row gx-3 h-100">
                    <div class="offset-sm-1 col-sm-11">
                        <div class="d-flex flex-column h-100">
                            <div class="offset-1 align-items-center d-flex flex-grow-1">
                                <ul class="list-unstyled pt-5 mt-5 elevator">
                                    <li>
                                        <a class="btn" href="https://www.linkedin.com/in/bhushan-gandla-576195193/"
                                            target="_blank">
                                            <p>LinkdeIn</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn" href="https://github.com/bhushan-gandla" target="_blank">
                                            <p>GitHub</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn" href="https://www.facebook.com/bushan.king/" target="_blank">
                                            <p>Facebook</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn" href="https://www.instagram.com/bushanking/" target="_blank">
                                            <p>Instagram</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div>

                                    <div class="btn-brand pb-5 mb-5">
                                        <div class="text-warning">
                                            <span><</span>
                                            <span>/</span>
                                            <span>bg</span>
                                            <span>></span>
                                        </div>
                                        <div class="overlay-text">
                                            <span><</span>
                                            <span>/</span>
                                            <span>bg</span>
                                            <span>></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>