@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "../../global/variables";
@import "../../global/functions";

.btn-brand {
  @include media-breakpoint-down(sm) {
    position: absolute;
    bottom: 0px;
  }
  .overlay-text {
    left: 2px;
  }
}
.elevator {
  position: relative;
  z-index: 3;
}
.contact-methods {
  .btn {
    padding: 0px;
    p {
      margin-bottom: 0px;
    }
  }
  li {
    display: flex;
    align-items: center;
    margin-bottom: pxToRem(15);
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      height: pxToRem(45);
      width: pxToRem(45);
      border-radius: 50%;
      margin-right: pxToRem(12);
      .currentColor {
        fill: $dark;
      }
    }
  }
}
