<div class="vh-100 layout-wrapper" id="section-1">
    <div class="bg-primary h-100">
        <nav class="main-navigation">
            <div class="container">
                <div class="d-flex align-items-center">
                    <a class="btn font-code-36 btn-brand" href="#">
                        <div class="text-warning">bg</div>
                        <div class="overlay-text">bg</div>
                    </a>

                    <a class="btn font-code-36 btn-brand" style="margin-left: auto;" href="#">
                        <div class="text-warning">bg</div>
                        <div class="overlay-text">bg</div>
                    </a>
                </div>
            </div>
        </nav>
        <div class="fixed-scroll-bg" id="background-wrapper">
            <div class="image-producer"></div>
            <!-- <img class="image-wrapper" src="assets/avatar.svg"> -->
        </div>
        <section class="main-content">
            
            <div class="pattern"></div>
            <div class="container px-4 top-puller">
                <div class="row gx-3">
                  <div class="col-7 text-end">
                   <h1 class="introduction">Hi, my name 
                    is Bhushan.</h1>
                    <p class="font-code-27">
                        I am a Web Designer and Developer.
                    </p>
                  </div>
                  
                </div>
              </div>
        </section>  
    </div>
</div>
