@import "../../global/functions";
@import "../../global/variables";

.main-navigation{
    padding-top: pxToRem(80);
    height: $main-navigation-height;
}
.btn-brand{
    padding: 0px;
    position: relative;
    .overlay-text{
        position: absolute;
        z-index: 0;
        color: $dark;
        top:2px;
        right:-2px;     
    }
}
.top-puller{
    position: relative;
    z-index: 1;
}

.introduction{
    padding-top: 19vh;
    margin-bottom: 2vh;
}