<div class="vh-100 layout-wrapper" id="section-0">
    <div class="bg-primary h-100">
        <nav class="header-spacer">
            <div class="container px-4">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-5 offset-sm-1">
                        <a class="btn btn-brand" href="#">
                            <div class="text-warning">
                                <span><</span>
                                <span>bg</span>
                                <span>></span>
                            </div>
                            <div class="overlay-text">
                                <span><</span>
                                <span>bg</span>
                                <span>></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-5 text-end">
                        <a class="btn btn-brand" href="#">
                            <div class="text-warning">bg</div>
                            <div class="overlay-text">bg</div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div class="container px-4 h-sm-100">
                <div class="row gx-3 h-100">
                  <div class="col-sm-5 offset-sm-1 d-flex align-items-center text-sm-end order-2 order-sm-1 text-elements-wrapper">
                      <div>
                          <h1 class="introduction">Hi, my name 
                           is Bhushan.</h1>
                           <p class="sub-introduction">
                               I am a Web Designer and Developer.
                           </p>
                      </div>
                  </div>
                  <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start order-1 order-sm-2">
                    <div class="fixed-scroll-bg" id="background-wrapper">
                        <div class="image-producer avatar"></div>
                        <div class="image-producer real-avatar"></div>
                        <div class="image-producer pittsburgh"></div>
                        <div class="image-producer design-system"></div>
                        <div class="pattern"></div>
                    </div>
                  </div>
                  
                </div>
              </div>
        </section>  
    </div>
</div>
