<div data-bs-spy="scroll" data-bs-target="#scrollSpy" data-bs-offset="0" class="scrollspy-example" tabindex="0" (scroll)="scrollHandler($event)">
    <div id="section-1"> 
      <app-landing-page></app-landing-page>
    </div>
    <div id="section-2">
      <app-about-me> </app-about-me>
    </div>
    <div id="section-3">
      <app-experience> </app-experience>
    </div>
    <div id="section-4">
      <app-skills> </app-skills>
    </div>
    <div id="section-5">
      <app-portfolio> </app-portfolio>
    </div>
    <div id="section-6"> 
      <app-get-in-touch> </app-get-in-touch>
    </div>
  </div>
